<body style="padding-top: 65px;">
    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h4>Model Controls</h4>
            </div>

            <ul class="list-unstyled components">
                
                <li>
                    <a href="#modelSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Model</a>
                    <div class="collapse list-unstyled" id="modelSubmenu">
                        <p>Placeholder</p>
                    </div>
                </li>
                <li>
                    <a href="#dateSelectSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Date Selection</a>
                    <div class="collapse list-unstyled" id="dateSelectSubmenu">
                        <p>Placeholder</p>
                    </div>
                </li>
                <li>
                    <a href="#graphOptionsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Graph Options</a>
                    <div class="collapse list-unstyled" id="graphOptionsSubmenu">
                        <p>Placeholder</p>
                    </div>
                </li>
                <li>
                    <a href="#historicDataSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Historical Data</a>
                    <div class="collapse list-unstyled" id="historicDataSubmenu">
                        <p>Placeholder</p>
                    </div>
                </li>
            </ul>
        </nav>

        <!-- Page Content Holder -->
        <div id="content">
            <button type="button" id="sidebarCollapse" class="navbar-btn">
                <span></span>
                <span></span>
                <span></span>
            </button>
                
            <div id="tester" ></div>
        </div>
    </div>
  
</body>
