<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container-fluid">
          <h1 class="display-4">Welcome to TeslaWeb!</h1>
          <hr class="my-4">
          <div>
              <p class="lead">TeslaWeb is designed to help you view and interact with your Tesla forecasts.</p>
          </div>
          <div > 
            <p class="lead">Please click the <a class="link" routerLink="/help"><b>Help</b></a> link to view instruction on how to fully use TeslaWeb.</p>
          </div>
        </div>
      </div>
</body>
